.App {
  /* text-align: center; */
  /* background-color: rgb(238, 248, 193);
  position: absolute;
  left : 50%;
  top  : 50%;
  transform : translate(-50%, -50%);
  height: 80%;
  width: 25%;
  border-radius: 2%; */
  background-color: rgb(238, 248, 193);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 440px;
  width: 290px;
  border-radius: 2%;
  padding: 1%;
}
.display-section{
  text-align: right;
    font-size: x-large;
    font-style: normal;
    font-family: none;
    font-weight: bolder;
    position: relative;
    margin-top: 10%;
    height: 20%;
}
.button-section{
  position: fixed;
  margin-top: 5%;
  height: 50%;
  /* border: 1px solid black; */
}

.calculation-area{
  margin-bottom: 5%;
}
.common-button-style{
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  font-family: none;
  font-weight: bolder;
}
.circular-button-mathVal{
  border-radius: 100% 100% 100% 100%;
  width: 50px;
  height: 50px;
  background-color: rgba(34, 205, 218, 0.555);
}

.circular-button{
  border-radius: 100% 100% 100% 100%;
  width: 50px;
  height: 50px;
  background-color:#ccc;  
}

.button-comp-section{
  margin: 3% 5%;
}
.square-button{
  border-radius: 35% 35% 35% 35%;
  width: 125px;
  height: 50px;
  background-color: rgba(34, 205, 218, 0.555);
}

.button-row{
  display: flex;
}